<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="{{ STATIC_PREFIX }}bootstrap/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="{{ STATIC_PREFIX }}bootstrap/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <title>
        {% block title %}
        {% endblock %}
    </title>

</head>
<body>
{% block body %}
<div class="container p-0">

    <div class="row p-0">
        <div class="col col-md-auto p-2">
            <img src="{{ STATIC_PREFIX }}Python_icon_(black_and_white).svg.png" height="100" width="100">
            <h4>Меню</h4>
            <ul>
                <li>
                    <a href="/courses/">4 урок! Курсы обучения!</a>
                </li>
                <li>
                    <a href="/courses/categories/">Категория курсов</a>
                </li>
                <li>
                    <a href="{{ STATIC_PREFIX }}view.log">Лог view функций</a>
                </li>
                <li>
                    <a href="{{ STATIC_PREFIX }}model.log">Лог модели данных</a>
                </li>
                <li>
                    <a href="/">Home</a>
                </li>
            </ul>
            Page loaded: {{PAGE_ACCESS_COUNTER}}
        </div>
        <div class="col p-2">
            <div class="row top">
                {% block header %}
                {% endblock %}
            </div>
            <div class="row ">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="row position-fixed bottom-0 end-0 p-3">
        {% block footer %}
        <span class="badge bg-secondary ">
            Page requested at {{ requested_datetime.strftime("%m/%d/%Y, %H:%M:%S") }}
        </span>
        {% endblock %}
    </div>
</div>
{% endblock %}
</body>
</html>